/* Estilos generales para la aplicación */
.App {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4f709c; /* Fondo azul */
  color: #ffffff; /* Texto blanco */
  padding: 16px;
  text-align: center;
}

button {
  background-color: #4f709c; /* Fondo azul */
  color: #ffffff; /* Texto blanco */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #213555; /* Fondo azul oscuro al pasar el mouse */
}

/* Estilos para el menú lateral */
.menu {
  background-color: #4f709c; /* Fondo azul */
  color: #ffffff; /* Texto blanco */
  width: 200px;
  position: fixed;
  top: 0;
  left: -200px; /* Oculta el menú al inicio */
  height: 100%;
  transition: left 0.3s; /* Agrega una transición suave al abrir/cerrar el menú */
}

.menu.visible {
  left: 0; /* Muestra el menú cuando es visible */
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 8px 16px;
  border-bottom: 1px solid #ffffff; /* Línea separadora blanca */
}

.menu li:last-child {
  border-bottom: none; /* Elimina la línea separadora en el último elemento */
}

/* Estilos para los enlaces del menú */
.menu a {
  text-decoration: none;
  color: #ffffff; /* Texto blanco */
  font-weight: bold;
}

.menu a:hover {
  color: #213555; /* Texto azul oscuro al pasar el mouse */
}

/* Estilos para el contenido principal */
.content {
  margin-left: 220px; /* Espacio para el menú lateral */
  padding: 16px;
}
