// Importa boostrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

.formulario{
    @include make-container();
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(sm){
        @include make-col(10);
    }

    @include media-breakpoint-up(md){
        @include make-col(8);
    }

    @include media-breakpoint-up(lg){
        @include make-col(6);
    }

    margin: auto;
    text-align: center;

    

    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);


    .titulo{
        font-weight: lighter;
        font-style: italic;
    }

    .etiqueta{
        @include make-row();
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(sm){
            @include make-col(8);
        }

        @include media-breakpoint-up(lg){
            @include make-col(6);
        }
        margin: auto;
        padding: 2px;
        margin-top: 1%;
    }

    .campo{
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(sm){
            @include make-col(8);
        }

        @include media-breakpoint-up(lg){
            @include make-col(6);
        }
        margin: auto;
    }

    .campoError{
        border: 1px solid red;
    }

    .campoDrop {
        @include make-container();
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(sm){
            @include make-col(8);
        }

        @include media-breakpoint-up(lg){
            @include make-col(6);
        }
        text-align: left;
        margin: auto;
        padding: 0;
    }

    .campoDrop .campo {
        @include make-col-ready();
        @include make-col(4);

        @include media-breakpoint-up(sm){
            @include make-col(4);
        }

        @include media-breakpoint-up(lg){
            @include make-col(3);
        }
    }

    .campoDrop .drop {
        @include make-col-ready();
        @include make-col(8);

        @include media-breakpoint-up(sm){
            @include make-col(8);
        }

        @include media-breakpoint-up(lg){
            @include make-col(6);
        }

        height: 30px;

    }

    .mensjError{
        @include make-row();
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(sm){
            @include make-col(8);
        }

        @include media-breakpoint-up(lg){
            @include make-col(6);
        }
        margin: auto;
        color: red;
    }

    .checkbox{
        @include make-col-ready();
        @include make-col(8);

        @include media-breakpoint-up(sm){
            @include make-col(8);
        }

        @include media-breakpoint-up(lg){
            @include make-col(6);
        }
        margin: auto;
        text-align: left;
        padding: 0;
    }

    .botones{
        @include make-row();
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(sm){
            @include make-col(8);
        }

        @include media-breakpoint-up(lg){
            @include make-col(6);
        }
        margin: auto;
        margin-top: 2%;

        .cancelar, .agregar{
            @include make-col-ready();
            @include make-col(5);
            text-align: center;
            margin:auto;
            background-color: #5c34ec;
            border: none;
            border-radius: 5px;
            color: #FFFFFF;
        }
    }
}