<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Notificación de Eliminación de Empresa</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f7f7f7;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    h2 {
      color: #333;
    }
    p {
      color: #555;
    }
    a {
      color: #007BFF;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>¡Hola {{nombre}}!</h2>
    <p>Esperamos que estés teniendo un buen día. Queremos informarte con cariño que la empresa "{{nombreEmpresa}}" ha sido eliminada de Oraculo.</p>
    <p>Si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con el amable administrador de la página. Estarán encantados de ayudarte en todo lo que necesites.</p>
    <p>Esperamos sinceramente que hayas disfrutado de tu experiencia con nosotros y estaremos emocionados de verte de nuevo en el futuro. Para ver el estado de tus solicitudes y otras actualizaciones, puedes visitar <a href="http://localhost:3000/app/solicitudes">nuestra página principal</a>.</p>
    <p>¡Ten un maravilloso día!</p>
  </div>
</body>
</html>
