<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Solicitud Actualizada</title>
</head>
<body>
  <h2>Hola {{nombre}}! </h2>
  <p>Oraculo te notifica que una de tus solicitudes de días libres ha sido: {{estado}} </p>
  <p>Para ver el estado de tus solicitudes, click <a href="{{URLAPI}}/app/solicitudes">aquí</a>.</p>
</body>
</html>