<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Politica Editada</title>
</head>
<body>
  <h2>Hola {{nombre}}! </h2>
  <p>Oraculo te notifica que una de tus politicas en {{empresa}} ha sido editada. </p>
  <p>Para ver detalles de tus políticas, click <a href="{{URLAPI}}/app/politicas">aquí</a>.</p>
</body>
</html>